<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxDNqc6qvY_WI7SGDvlv9NgOdbivfIJhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>284400538060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contactsApp</string>
	<key>PROJECT_ID</key>
	<string>contactsapp-57885</string>
	<key>STORAGE_BUCKET</key>
	<string>contactsapp-57885.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284400538060:ios:a109ae3f65e0a53d528d69</string>
</dict>
</plist>